/* ALL .ds4 REPLACED WITH .custom FOR URL COMPATIBILITY */
.controller.custom {
    background: url(https://imgur.com/1crsEV6.png);
    height: 700px;
    width: 1200px;
}

.custom .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 200px;
    left: 762px;
}

.custom .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://imgur.com/RG92VGb.png);
}

.custom .button.pressed {
    background-position-y: 55px;
}

.custom .a {
    background-position: 0 0;
    bottom: 0px;
    left: 58px;
}

.custom .b {
    background-position: -57px 0;
    top: 57px;
    right: -3px;
}

.custom .x {
    background-position: -113px 0;
    top: 57px;
}

.custom .y {
    background-position: 55px 0;
    left: 58px;
    bottom: 119px;
}

.custom .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 220px;
    left: 286px;
}

.custom .face {
    background: url(https://imgur.com/UT1QiRX.png);
    position: absolute;
}

.custom .face.up, .custom .face.down {
    width: 37px;
    height: 52px;
}

.custom .face.left, .custom .face.right {
    width: 52px;
    height: 40px;
}

.custom .face.up {
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.custom .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.custom .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.custom .face.right {
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}

.custom .face.pressed {
    background-position-y: 52px;
}

.custom.half {
    margin-top: -300px;
}

.custom .stick {
    position: absolute;
    background: url(https://imgur.com/1Kf49Kt.png);
    height: 94px;
    width: 94px;
}

.custom .stick.pressed.left {
    background-position-x: -96px;
}

.custom .stick.pressed.right {
    background-position-x: -192px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.custom .triggers {
    width: 598px;
    height: 90px;
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .trigger {
    width: 99px;
    height: 100%;
    background: url(https://imgur.com/N4bDsgo.png);
    opacity: 0;
}

.custom .trigger.left {
    float: left;
}

.custom .trigger.right {
    float: right;
    background-position-x: 99px;
}

.custom .bumper {
    width: 200px;
    height: 45px;
    background: url(https://imgur.com/zcbMwNq.png) no-repeat;
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 672px;
    height: 23px;
    left: 263px;
    top: 132px;
}

.custom .bumper.pressed {
    opacity: 0.8;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .touchpad {
    width: 350px;
    height: 300px;
    position: absolute;
    left: 422px;
    top: 74px;
}

.custom .touchpad.pressed {
    background: url(https://imgur.com/04qQP3T.png) no-repeat center;
}
