/* Base Container for PS5 */
.controller.custom {
    background: url(https://imgur.com/1crsEV6.png) no-repeat;
    height: 700px; 
    width: 1200px;
    background-size: contain;
}

/* Hide the default PS5 images so yours show through */
.custom .stick, .custom .buttons, .custom .pad, .custom .trigger, .custom .bumper {
    background-image: none !important;
}

/* Position the Face Buttons (X, Circle, Triangle, Square) */
.custom .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 200px;  /* Adjust these to fit your PS5 image */
    left: 762px;
}

/* Individual Button Sprite Logic */
.custom .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://imgur.com/RG92VGb.png) no-repeat;
}

.custom .button.pressed {
    background-position-y: -55px; /* Adjust based on your sprite sheet */
}

/* Face Button Positions */
.custom .a { bottom: 0; left: 58px; background-position: 0 0; }         /* Cross/X */
.custom .b { top: 57px; right: -3px; background-position: -57px 0; }    /* Circle */
.custom .x { top: 57px; left: 0; background-position: -113px 0; }       /* Square */
.custom .y { top: 0; left: 58px; background-position: 55px 0; }         /* Triangle */

/* Sticks */
.custom .stick.left {
    position: absolute;
    top: 365px; /* Example PS5 position */
    left: 415px;
    background: url(https://imgur.com/1Kf49Kt.png);
    width: 94px;
    height: 94px;
}

.custom .stick.right {
    position: absolute;
    top: 365px;
    left: 690px;
    background: url(https://imgur.com/1Kf49Kt.png);
    width: 94px;
    height: 94px;
}
